<!DOCTYPE html>
<html>
<head lang='en'>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>House</title>
  <link rel='stylesheet' href='/css/bootstrap.css'>
  <link rel='stylesheet' href='/css/bootstrap-switch.css'>
  <link rel='stylesheet' href='/css/index.css'>
</head>
<body>
  <div class='container'>
    <div class='page-header'>
      <h1><b>SafeHome247</b></h1>
    </div>
    {{#devices}}
    <div class='row'>
      <div class='col-xs-12'>
        <h3 class='sensor-name'><a data-toggle='collapse' href='#details{{@index}}'>{{name}}</a></h3>
        <h3 class='sensor-status'><span class='label label-default' data-topic='{{topic}}' data-message='{{message}}'>Unknown</span></h3>
      </div>
      <div class='collapse details' id='details{{@index}}'>
        <div class='col-sm-6 history'>
          <table class='table table-bordered table-condensed'>
            <tr>
              <td>7/19/2015 7:24 PM</td>
              <td>Motion detected</td>
            </tr>
            <tr>
              <td>7/19/2015 7:24 PM</td>
              <td>Motion detected</td>
            </tr>
            <tr>
              <td>7/19/2015 7:24 PM</td>
              <td>Motion detected</td>
            </tr>
            <tr>
              <td>7/19/2015 7:24 PM</td>
              <td>Motion detected</td>
            </tr>
            <tr>
              <td>7/19/2015 7:24 PM</td>
              <td>Motion detected</td>
            </tr>
          </table>
          <div class='text-center'>
            <div class='btn-group'>
              <button class='btn btn-default'>Newer</a>
              <button class='btn btn-default'>Older</a>
            </div>
          </div>
        </div>
        <div class='col-sm-6 form-horizontal options'>
          <div class='form-group'>
            <label for='alert{{@index}}' class='control-label col-sm-2'>Alert</label>
            <div class='col-sm-10'>
              <input type='checkbox' class='alert-toggle' id='alert{{@index}}' data-device-id='{{device_id}}'{{#if alert}} checked{{/if}}>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/devices}}
  </div>

  <script src='/js/socket.io.js'></script>
  <script src='/js/jquery-2.1.4.js'></script>
  <script src='/js/bootstrap.js'></script>
  <script src='/js/bootstrap-switch.js'></script>
  <script src='/js/index.js'></script>
</body>
</html>
